# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Operating-system junk files
.DS_Store

# Visual-Studio junk files
*.res
*.manifest
*.idb
*.obj
*.exe
*.ilk
*.log
*.pdb
*.lastbuildstate
*.cache
*.rc
*.tlog
VISUALSTUDIO/_ReSharper*.*
VISUALSTUDIO/Release
ISUALSTUDIO/Debug
VISUALSTUDIO/*.*sdf*
VISUALSTUDIO/*.suo
VISUALSTUDIO/ipch

# Emacs junk files
*.*#
*.*~